li{
  list-style: none;
  padding-top: 10px;
  padding-top: 10px;
}

.checkon:first-child  .checkof:before { content:"\2713\0020"; }


@media only screen and (max-width: 1174px){
  #cardevento{
    width: 80vw !important;
    height: 168px !important;
  }
}


@media only screen and (max-width: 702px){
  #cardevento{
width: 92vw !important;
  }
}

@media only screen and (max-width: 579px){
  #cardevento{
    width: 80vw !important;
    height: 100px !important;
  }
}

@media only screen and (max-width: 443px){
  #cardevento{
    width: 90vw !important;
    height: 165px !important;

  }
}

@media only screen and (max-width: 589px){
  #cardevento{
    width: 90vw !important;
    height: 165px !important;

  }
}

@media only screen and (max-width: 500px) {
#imagem2{
  width: 85vw;
}
}

/*Card evento 1920*/
@media only screen and (max-width: 1920px){
  #icon-a, #icon-b, #icon-c{
font-size: 48px !important;
  }
}

@media only screen and (min-width: 1920px){
  #icon-a, #icon-b, #icon-c{
font-size: 48px !important;
  }
}

/*Card evento 1920*/
@media only screen and (max-width: 702px){
  #icon-a, #icon-b, #icon-c{
font-size: 40px !important;
  }
}

/*Card evento 369*/
@media only screen and (max-width: 443px){
  #icon-a, #icon-b, #icon-c{
font-size: 20px !important;
padding: 0;
  }
}



/*cardesconde*/

@media only screen and (max-width: 1920px){
  #cardslider
  {
display: none !important;
  }
}

@media only screen and (min-width: 1920px){
  #cardslider
  {
display: none !important;
  }
}

@media only screen and (max-width: 553px){
  #cardslider
  {
display: block !important;
  }
}




/*cardesconde*/
@media only screen and (max-width: 553px){
  #cardesconde{
display: none !important;
  }
}


@media only screen and (max-width: 576px){
  .col-xs-12
  {
    width: 100% !important;
  }

}


@media only screen and (max-width: 1198px){
  .col-reset
  {
    width: 100% !important;
  }

}


/*Cronometro*/

.cronometro{
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}


@media only screen and (max-width: 1198px){
  .col-reset
  {
    width: 100% !important;
  }

}


.texttt{
  font-family: sans-serif;
  font-weight: 200;
}


@media only screen and (min-width: 1920px){
  #mobile
  {
  display: none;
  }

}
@media only screen and (max-width: 1920px){
  #mobile
  {
  display: none;
  }

}
@media only screen and (max-width: 840px){
  #mobile
  {
  display: block;
  }
}


@media only screen and (max-width: 840px){
  #desktop
  {
  display: none;
  }
}


@media only screen and (max-width: 527px){
  .cronometro
  {
  font-size: 30px !important;
  }
}

.font-to{
  font-weight: 500;
  font-family: sans-serif;
}



@media only screen and (max-width: 527px){
  .space-border
  {
  padding: 25px;
  }
}

@media only screen and (max-width: 1920px){
  .space-border
  {
  padding: 25px;
  }
}
