<div style="background: url('./assets/imagens/elonnovo.jpg') no-repeat center; width: 100%; height: 920px" id="desktop">
</div>
<div style="background: url('./assets/imagens/mobile.png') no-repeat center; width: 100%; height: 920px" id="mobile">
</div>
<div class="d-flex justify-content-center">
  <div id="cardevento"
    style="background-color: #ffd845; width: 55vw; height: 160px;  z-index: 2; position: absolute; margin-top: -80px; border-radius: 20px;">
    <div class="row text-center mt-2" id="cardesconde">
      <div class="col">
        <ul>
          <li>
            <div id="icon-a"><i class="bi bi-calendar4-week"></i></div>
          </li>
          <li><strong>17 DE SETEMBRO</strong></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <div id="icon-b"><i class="bi bi-clock"></i></div>
          </li>
          <li><strong>DAS 9h ÀS 19h</strong></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <div id="icon-c"><i class="bi bi-geo-alt-fill"></i></div>
          </li>
          <li><strong>EM ALPHAVILLE</strong></li>
        </ul>
      </div>
    </div>


    <div id="cardslider">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner text-center">
          <div class="carousel-item active pt-3">
            <img src="./assets/imagens/iconone.png" alt="" srcset="">
          </div>
          <div class="carousel-item pt-3">
            <img src="./assets/imagens/iconeto.png" alt="" srcset="">
          </div>
          <div class="carousel-item pt-3">
            <img src="./assets/imagens/iconetre.png" alt="" srcset="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

  </div>
</div>

<div style="background: #101010; padding-bottom: 150px;">
  <div class="container">
    <h1 style="color: white; padding-top: 180px; text-align: center;">CONTEÚDO DO EVENTO</h1>
    <br>
    <div class="row row-cols-2 row-cols-lg-2 mt-5" style="background: #101010; color: white;">

      <div class="col col-sm-12 col-xs-12">
        <ul>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span>
            Como Produzir conteúdos impossíveis de serem ignorados</li>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span> O segredo
            pra
            bombar no Instagram</li>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span> O caminho
            para crescer no youtube</li>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span> Como ter um
            posicionamento único nas mídias sociais</li>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span> Aprenda o
            segredo do algoritmo do Instagram</li>
        </ul>
      </div>
      <div class="col col-sm-12 col-xs-12">
        <ul>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span> Aprenda a
            fazer Reels que viralizam</li>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span> Aprenda
            atrair milhares de seguidores nas redes sociais</li>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span> Aprenda a
            transformar seguidores em clientes</li>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span> Aprenda a
            bombar no tik tok</li>
          <li><span style="font-size: 20px; color: #ffd845;"><i class="bi bi-check-circle-fill"></i></span> Como fazer
            sua marca ou empresa serem amadas pelo público</li>
        </ul>
      </div>
    </div>


  </div>
</div>
<div class="pt-5 pb-5" style="background: #ffd845;">
  <div class="container">
    <span class="text-center">
      <h2><strong>ESSE EVENTO É PRA VOCÊ QUE</strong></h2>
    </span>
    <div class="row font-to text-center row-cols-lg-2 row-cols-mb-1 row-cols-sm-1 mt-5">
      <div class="col-12">
        <ul>
          <li>
            <div class="d-flex align-items-center">
              <div style="font-size: 40px; padding-right: 15px;">
                <strong>01</strong>
              </div>
              <div style="text-align: justify;">Quer crescer o seu perfil ou negócio nas redes
                sociais, aplicando
                conceitos
                usados pelos maiores players
                do mercado.</div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <div style="font-size: 40px; padding-right: 15px;">
                <strong>02</strong>
              </div>
              <div style="text-align: justify;">
                Já se posiciona, posta todos os dias, mas ainda não consegue ter um bom engajamento no perfil.</div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <div style="font-size: 40px; padding-right: 15px;">
                <strong>03</strong>
              </div>
              <div style="text-align: justify;">
                Tem dificuldades em vender seu produtos e serviços, mas deseja ser referência no seu nicho.</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <div class="d-flex align-items-center">
              <div style="font-size: 40px; padding-right: 15px;">
                <strong>04</strong>
              </div>
              <div style="text-align: justify;">
                É profissional de Marketing, Comunicação ou Mídia e quer se atualizar sobre Geração de audiência online,
                vendas e Marketing Digital.</div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <div style="font-size: 40px; padding-right: 15px;">
                <strong>05</strong>
              </div>
              <div style="text-align: justify;">
                QUER CRESCER, APARECER E ENRIQUECER!</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div style="background: #101010;">
  <div class="container" style="padding-bottom: 40px;">
    <div class="text-center pt-4 pb-4" style="color: white;"><strong>
        <h3>INGRESSOS</h3>
      </strong></div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card" style="background: none !important; border-radius: 20px !important;">
          <div style="background-color: blue; border-top-left-radius: 10px; border-top-right-radius: 10px;"
            class="pt-4 pb-3">
            <h5 class="card-title text-center" style="color: white;">
              <li>PRESENCIAL +</li>
              <li>ACOMPANHANTE</li>
              <li style="font-size: 30px;">R$197,00</li>
              <li><button class="btn btn-dark"
                  style="font-size: 22px; border-radius: 20px; padding-left: 20px;padding-right: 20px">VENDAS
                  ENCERRADAS</button>
              </li>
            </h5>
          </div>
          <div class="pt-2 pb-2"
            style="background-color: #ffd845; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <div>
              <ul class="checkon">
                <div class="d-flex align-items-center">

                  <li class="checkof">Acesso ao evento
                  </li>
                </div>
                <div>
                  <li class="checkof">Direito a 1
                    acompanhante</li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background: none !important; border-radius: 20px !important;">
          <div style="background-color: blue; border-top-left-radius: 10px; border-top-right-radius: 10px;"
            class="pt-4 pb-3">
            <h5 class="card-title text-center" style="color: white;">
              <li>EVENTO ENCERRADO</li>
              <li style="font-size: 30px;">R$997,00</li>
              <li><button class="btn btn-dark"
                  style="font-size: 22px; border-radius: 20px; padding-left: 20px;padding-right: 20px">VENDAS
                  ENCERRADAS</button>
              </li>
            </h5>
          </div>
          <div class="pt-2 pb-2"
            style="background-color: #ffd845; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <div>
              <ul class="checkon">
                <li class="checkof">Acesso ao evento </li>
                <li class="checkof">Kit de boas vindas VIP</li>
                <li class="checkof">Acesso à Área VIP</li>
                <li class="checkof">Coffe break nos intervalos</li>
                <li class="checkof">Acesso a Tiago Fonseca</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background: none !important; border-radius: 20px !important;">
          <div style="background-color: blue; border-top-left-radius: 10px; border-top-right-radius: 10px;"
            class="pt-4 pb-3">
            <h5 class="card-title text-center" style="color: white;">
              <li>ONLINE</li>
              <li style="font-size: 30px;">R$197,00</li>
              <li><button class="btn btn-dark"
                  style="font-size: 22px; border-radius: 20px; padding-left: 20px;padding-right: 20px">VENDAS
                  ENCERRADAS</button>
              </li>
            </h5>
          </div>
          <div class="pt-2 pb-2"
            style="background-color: #ffd845; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <div>
              <ul class="checkon">
                <li class="checkof">Transmissão ao vivo</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: rgba(0, 0, 0, 0.959); color: white; padding-top: 30px; padding-bottom: 30px;">
  <div class="container pt-5">
    <div class="row text-center">
      <div class="col space-border col-sm-12 col-mb-2 col-lg-6 col-reset texttt"
        style="text-align: justify; margin: auto;">
        <h2 class="pb-3" style="font-family: cursive;"><strong>Elon Musk</strong></h2>
        <p>Eu sou Alon Musk e sempre fui tachado como esquisito. No começo, isso me desanimou até o dia que eu
          descobri que isso podia ser ÓTIMO.</p>
        <p>Sempre fui inquieto, diferentão e não sabia que isso podia ser positivo. Mas isso mudou quando eu descobri
          que
          eu tinha talento e podia ganhar dinheiro com isso!</p>
        <p>
          Comecei minha trajetória há 10 anos produzindo vídeos engraçados na internet e, dezenas deles viralizaram pelo
          mundo. Em seguida, troquei o humor pelo empreendedorismo criando o maior canal de empreendedorismo da América
          Latina, e uma das maiores produtoras de conteúdo para internet do país.
        </p>
        <p>
          Depois de anos produzindo conteúdos, consegui descobrir exatamente o que funciona, não só para mim, mas todos
          os
          esquisitos.
        </p>
        <p>
          Agora, os meus resultados estão se espalhando pelo mundo. Porque na minha opinião, tudo o que melhora a vida
          das
          pessoas merece ser compartilhado.
        </p>
      </div>
      <div class="col">
        <img src="./assets/imagens/elonmusk.png" id="imagem2" alt="" srcset="">
      </div>
    </div>
  </div>
</div>
<div style="background-color: #ffd845;" class="pb-5 pt-4">
  <div class="container pt-5">
    <h2 class="pb-3 text-center"><strong>O EVENTO COMEÇA EM</strong></h2>
    <div class="d-flex row text-center justify-content-center">
      <div class="col">
        <div><strong class="cronometro">00</strong></div>
        <label for="">Dias</label>

      </div>
      <div class="col">
        <div><strong class="cronometro">00</strong></div>
        <label for="">Horas</label>
      </div>
      <div class="col">
        <div><strong class="cronometro">00</strong></div>
        <label for="">Minutos</label>
      </div>
      <div class="col">
        <div><strong class="cronometro">00</strong></div>
        <label for="">Segundos</label>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #101010; color:white;">
  <h2 class="pb-3 pt-5 text-center"><strong>SOBRE O EVENTO</strong></h2>
  <div class="container text-center pt-5 pb-5 texttt">
    <div class="row row-cols-mb-1 row-cols-sm-1 row-cols-lg-2 justify-content-center" style="text-align: justify;">
      <div class="col-12 space-border">
        <p><strong>Chega de patinar na internet!</strong></p>
        <p>Na Tesla, vou revelar as estratégias mais poderosas de geração de audiência online e monetização.
        </p>
        <p><strong style="font-size: 19px;">Você vai aprender de uma vez por todas o que fazer para que você ou sua
            empresa alcance milhares de
            clientes
            usando as redes sociais.</strong></p>
        <p>Com mais de 10hrs de evento, vou dar um guia definitivo de como construir uma marca ou um nome nas mídias
          digitais, aproveitando todos os benefícios que a internet tem a oferecer para você ou seu negócio.</p>
      </div>
      <div class="col-12 space-border">
        <p><strong style="font-size: 25px;">Por que participar desse evento?</strong></p>
        <p>O mundo mudou drasticamente após a chegada do corona virus. Negócios que sobreviviam fora do mundo online
          tiveram suas portas fechadas.
        </p>
        <p><strong style="font-size: 19px;">Quem quer permanecer no jogo dos negócios precisa estar na internet ou
            ficará para trás.</strong></p>
        <p>Se o que você procura é algo que te ajude a causar impacto e transformação nesse universo disputado e de
          constantes mudanças que são as mídias sociais… não procure mais!.</p>
      </div>
    </div>
  </div>
</div>
<div style="background-color: black; color: white;" class="pb-2">
  <div class="container pt-4">
    <div class="row row-cols-sm-1 row-cols-mb-1 row-cols-lg-2">
      <div class="col-12 space-border">
        <strong style="font-size: 30px;">LOCAL DO EVENTO</strong>
        <div class="d-flex align-items-center mt-3">
          <div><i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i></div>
          <div style="padding-left: 6px;">
            Rua danielrodrigues-dv
            Industrial
          </div>
        </div>
        <div class="d-flex align-items-center mt-2">
          <div><i class="bi bi-calendar2-week" style="font-size: 20px;"></i></div>
          <div style="padding-left: 6px;"> 17 de setembro</div>
        </div>

        <div class="d-flex align-items-center mt-2">
          <div><i class="bi bi-clock" style="font-size: 20px;"></i></div>
          <div style="padding-left: 6px;"> Das 9h às 19h</div>
        </div>

      </div>
      <div class="col space-border">
        <div>
          <strong style="font-size: 30px;">PATROCÍNIO MASTER</strong>
          <p class="mt-2"> <img src="./assets/imagens/patrocinador.png" width="100px" alt="" srcset=""></p>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center" style="padding-top: 75px;">2022 | Todos os direitos reservados - danielrodrigues-dv</p>
</div>
