<div style="background-color: black; height: 100vh; width: 100%; color: white;">

  <div class="container text-center">

    <div class="row align-items-center">
      <div class="col" style="padding-top: 180px;">
        <img src="./assets/imagens/404.png" id="error" alt="" srcset="">
        <p><span>
            <h3>Ops! Algo está errado...</h3>
          </span></p>
        <p><span>
            <h6>A página que você procura não pôde se encontrada.</h6>
          </span></p>
        <button class="btn btn-primary mt-3" style="border-radius: 5px;" routerLink="" routerLinkActive="active">VOLTAR
          PARA
          PÁGINA</button>
      </div>

    </div>

  </div>

</div>
